.logged {
    background-image: url("https://images.unsplash.com/photo-1665686440627-936e9700a100?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;

    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /* 100% de la altura de la ventana gráfica */


    .box {
        background-color: rgba(242, 244, 244, 0.616);
        width: 60%;
        padding: 3px;
        margin: auto;
    }

    @media (max-width: 768px) {
        .logged {
            /* Cambiar el tamaño de la imagen de fondo para dispositivos más pequeños */
            background-size: contain;
        }
    }

    @media (max-width: 480px) {
        .logged {
            /* Cambiar el tamaño de la imagen de fondo para dispositivos más pequeños como teléfonos móviles */
            background-size: cover;
        }
    }

    .textLogged {
        margin-top: 3px;
        border-left: 2px solid rgba(50, 47, 47, 0.492);
        margin-left: 30px;
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 400;
        font-size: medium;

    }

    .title {
        text-align: center;
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 1000;
        color: #000000;
        text-shadow: 2px 2px 3px rgba(247, 248, 248, 0.52);
    }

    .button {
        width: 100%;
        border-radius: 25px;
        margin-top: 15px;
        font-weight: 700;
        font-family: "Be Vietnam Pro", sans-serif;


    }
}